<div class="container">
  <mat-card>
    <mat-card-header>
      Widget 1
    </mat-card-header>
    <mat-card-content>

      <img src="./assets/image.png" height="100px" width="300px" />
    </mat-card-content>

  </mat-card>
  <mat-card>
    <mat-card-header>
      Widget 2
    </mat-card-header>
    <mat-card-content>

      <img src="./assets/image.png" height="100px" width="300px" />
    </mat-card-content>

  </mat-card>
  <mat-card>
    <mat-card-header>
      Widget 3
    </mat-card-header>
    <mat-card-content>
      <img src="./assets/image.png" height="100px" width="300px" />
    </mat-card-content>

  </mat-card>
  <mat-card>
    <mat-card-header>
      Widget 4F
    </mat-card-header>
    <mat-card-content>
      <img src="./assets/image.png" height="100px" width="300px" />
    </mat-card-content>
  </mat-card>
</div>